/node_modules
/public/hot
/public/storage
/public/courselogos
/storage/*.key
/vendor
/docker-compose.yml
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yam
npm-debug.log
yarn-error.log
/public/js/app.js
/storage
/mainckeditor/node_modules
.DS_Store
/portal
/public/mix-manifest.json
