*,
::after,
::before {
    box-sizing: border-box;
}

@font-face {
    font-family: "Hacen";
    src: url("/fonts/HacenLinerXXL.woff2") format("woff2"),
        url("/public/fonts/HacenLinerXXL.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* @font-face {
    font-family: "Almarai Regular";
    src: url("/fonts/Almarai-Regular.woff2") format("woff2"),
        url("/public/fonts/Almarai-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */
body {
    font-family: "Hacen";
    margin: 0;
    padding: 0;
    font-size: 16px;
    direction: rtl;
    overflow-x: hidden;
}
.header-margin {
    margin-top: 150px;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.col-md-4,
.col-md-3 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.p-0 {
    padding: 0;
}
.p-5 {
    padding: 5px;
}
.p-10 {
    padding: 10px;
}
.w-100 {
    width: 100%;
}
.w-90 {
    width: 90%;
}
.w-80 {
    width: 80%;
}
.w-70 {
    width: 70%;
}
.w-60 {
    width: 60%;
}
.w-50 {
    width: 50%;
}
.w-40 {
    width: 40%;
}
.w-30 {
    width: 30%;
}
.w-25 {
    width: 25%;
}
.h-full {
    height: 100vh;
}
.h-100 {
    height: 100%;
}
.h-50 {
    height: 50%;
}
.z-1 {
    position: relative;
    z-index: 1;
}
.container {
    width: 1062px;
    margin: auto;
}
.container-fluid {
    min-width: 1062px;
    margin: auto;
    padding: 0 30px;
}
.d-flex {
    display: flex;
}
.d-block {
    display: block;
}
.none {
    display: none;
}
.center {
    text-align: center;
}
.text-shadow {
    text-shadow: 0px 3px 6px #00000029;
}
.align-center {
    align-items: center;
}
.space-between {
    justify-content: space-between;
}
.flex-wrap {
    flex-wrap: wrap;
}
.nowrap {
    white-space: nowrap;
}
.flex-column {
    flex-direction: column;
}
.flex-end {
    justify-content: flex-end;
}
.flex-all {
    display: flex;
    align-items: center;
    justify-content: center;
}
.relative {
    position: relative;
}
.main-color {
    color: #752775;
}
.font-40 {
    font-size: 40px;
}
.font-30 {
    font-size: 30px;
}
.font-26 {
    font-size: 26px;
}
.font-25 {
    font-size: 25px;
}
.font-24 {
    font-size: 24px;
}
.font-23 {
    font-size: 23px;
}
.font-22 {
    font-size: 22px;
}
.font-20 {
    font-size: 20px;
}
.font-19 {
    font-size: 19px;
}
.font-18 {
    font-size: 18px;
}
.font-17 {
    font-size: 17px;
}
.font-16 {
    font-size: 16px;
}
.font-15 {
    font-size: 15px;
}
.font-14 {
    font-size: 14px;
}
.font-13 {
    font-size: 13px;
}
.font-12 {
    font-size: 12px;
}
.font-11 {
    font-size: 11px;
}
.font-10 {
    font-size: 10px;
}
.white {
    color: #fff;
}
.white-i {
    color: #fff !important;
}
.mt-5 {
    margin-top: 5px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-25 {
    margin-top: 25px;
}
.mt-30 {
    margin-top: 30px;
}
.mt-50 {
    margin-top: 50px;
}
.mb-5 {
    margin-bottom: 5px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-25 {
    margin-bottom: 25px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-50 {
    margin-bottom: 50px;
}
.m-side-auto {
    margin-left: auto;
    margin-right: auto;
}
.m-0 {
    margin: 0;
}
.m-0-i {
    margin: 0!important;
}
.mr-5 {
    margin-right: 5px;
}
.mr-10 {
    margin-right: 10px;
}
.mr-15 {
    margin-right: 15px;
}
.mr-20 {
    margin-right: 20px;
}
.mr-25 {
    margin-right: 25px;
}
.mr-30 {
    margin-right: 30px;
}
.ml-5 {
    margin-left: 5px;
}
.ml-10 {
    margin-left: 10px;
}
.ml-15 {
    margin-left: 15px;
}
.ml-20 {
    margin-left: 20px;
}
.ml-25 {
    margin-left: 25px;
}
.ml-30 {
    margin-left: 30px;
}
.lang-en .mr-5 {
    margin-left: 5px;
    margin-right: 0;
}
.lang-en .mr-10 {
    margin-left: 10px;
    margin-right: 0;
}
.lang-en .mr-15 {
    margin-left: 15px;
    margin-right: 0;
}
.lang-en .mr-20 {
    margin-left: 20px;
    margin-right: 0;
}
.lang-en .mr-25 {
    margin-left: 25px;
    margin-right: 0;
}
.lang-en .mr-30 {
    margin-left: 30px;
    margin-right: 0;
}
.lang-en .ml-5 {
    margin-right: 5px;
    margin-left: 0;
}
.lang-en .ml-10 {
    margin-right: 10px;
    margin-left: 0;
}
.lang-en .ml-15 {
    margin-right: 15px;
    margin-left: 0;
}
.lang-en .ml-20 {
    margin-right: 20px;
    margin-left: 0;
}
.lang-en .ml-25 {
    margin-right: 25px;
    margin-left: 0;
}
.lang-en .ml-30 {
    margin-right: 30px;
    margin-left: 0;
}
.pt-5 {
    padding-top: 5px;
}
.pt-10 {
    padding-top: 10px;
}
.pt-15 {
    padding-top: 15px;
}
.pt-20 {
    padding-top: 20px;
}
.pt-25 {
    padding-top: 25px;
}
.pt-30 {
    padding-top: 30px;
}
.pt-50 {
    padding-top: 50px;
}
.pt-100 {
    padding-top: 100px;
}

.pb-5 {
    padding-bottom: 5px;
}
.pb-10 {
    padding-bottom: 10px;
}
.pb-15 {
    padding-bottom: 15px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pb-25 {
    padding-bottom: 25px;
}
.pb-30 {
    padding-bottom: 30px;
}
.pb-100 {
    padding-bottom: 100px;
}
.pr-5 {
    padding-right: 5px;
}
.pr-10 {
    padding-right: 10px;
}
.pr-15 {
    padding-right: 15px;
}
.pr-20 {
    padding-right: 20px;
}
.pr-25 {
    padding-right: 25px;
}
.pr-30 {
    padding-right: 30px;
}
.pl-5 {
    padding-left: 5px;
}
.pl-10 {
    padding-left: 10px;
}
.pl-15 {
    padding-left: 15px;
}
.pl-20 {
    padding-left: 20px;
}
.pl-25 {
    padding-left: 25px;
}
.pl-30 {
    padding-left: 30px;
}
.lang-en .pl-5 {
    padding-right: 5px;
    padding-left: 0;
}
.lang-en .pl-10 {
    padding-right: 10px;
    padding-left: 0;
}
.lang-en .pl-15 {
    padding-right: 15px;
    padding-left: 0;
}
.lang-en .pl-20 {
    padding-right: 20px;
    padding-left: 0;
}
.lang-en .pl-25 {
    padding-right: 25px;
    padding-left: 0;
}
.lang-en .pl-30 {
    padding-right: 30px;
    padding-left: 0;
}
.lang-en .pr-5 {
    padding-left: 5px;
    padding-right: 0;
}
.lang-en .pr-10 {
    padding-left: 10px;
    padding-right: 0;
}
.lang-en .pr-15 {
    padding-left: 15px;
    padding-right: 0;
}
.lang-en .pr-20 {
    padding-left: 20px;
    padding-right: 0;
}
.lang-en .pr-25 {
    padding-left: 25px;
    padding-right: 0;
}
.lang-en .pr-30 {
    padding-left: 30px;
    padding-right: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
li {
    list-style: none;
}

.regular,
input {
    font-family: "Hacen"!important;
}
.light {
    font-weight: 100;
}
.bold {
    font-weight: bold;
}
.bg-white {
    background: #fff;
}
.bg-none {
    background: none;
}
.radius-5 {
    border-radius: 5px;
}
.radius-12 {
    border-radius: 12px;
}
.radius-60 {
    border-radius: 60px;
}

.border-0 {
    border: 0;
}
.pointer {
    cursor: pointer;
}
a,
a:hover {
    text-decoration: none;
}
.underline {
    text-decoration: underline;
}
.p-side-30 {
    padding-left: 30px;
    padding-right: 30px;
}
.p-side-50 {
    padding-left: 50px;
    padding-right: 50px;
}
.p-side-15 {
    padding-left: 15px;
    padding-right: 15px;
}
.p-side-10 {
    padding-left: 10px;
    padding-right: 10px;
}
.trans {
    transition: 0.3s;
}
.overflow-hidden {
    overflow: hidden;
}
h1 {
    background: transparent;
    border-radius: initial;
    padding: 0;
    text-align: initial;
    margin: 0;
}
a:hover {
    color: #660066;
}
.btn,.btn-2  {
    background: #660066;
    padding: 13px 35px;
    border-radius: 11px;
    color: #fff;
    transition: 0.3s;
    border: 1px solid #660066;
    cursor: pointer;
}
.btn-2 {
    padding: 9px 35px;
}
.btn:hover {
    color: #660066;
    background: #fff;
}
.form-group p {
    display: none;
}
.form-group > label {
    display:block;
}
.form-group.invalid p {
    display: block;
}
.form-control {
    border: 1px solid #660066;
    height: 52px;
    border-radius: 21px;
}
.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgb(121 106 238 / 25%);
}
.holder-center::placeholder {
    color: #7B797BA6;
}
.main-bg {
    background: #660066;
}
.main-color {
    color: #660066;
}
.blue {
    color: #0043FF;
}
:focus-visible {
    outline: -webkit-focus-ring-color auto 0;
}
.visible-0 {
    visibility: hidden;
}
.ltr {
    direction: ltr;
}
.rtl {
    direction: rtl;
}
.row-half {
    width: 49%;
    margin-bottom: 15px;
}
@media (max-width: 767px) {
    .w-100-p {
        width: 100% !important;
    }
    .w-50-p {
        width: 50%;
    }
    .h-auto-p {
        height: auto;
    }
    .container {
        max-width:100%;
    }
    .flex-wrap-p {
        flex-wrap:wrap
    }
    .center-p {
        text-align: center
    }
    .mt-0-p {
        margin-top: 0;
    }
    .mt-10-p {
        margin-top: 10px;
    }
    .mb-10-p {
        margin-bottom: 10px;
    }
    .pt-0-p {
        padding-top: 0;
    }
    .pt-20-p {
        padding-top: 20px;
    }
    .p-side-12-p {
        padding-left: 12px;
        padding-right: 12px;
    }
    .font-28-p {
        font-size: 28px;
    }
}
