*,
::after,
::before {
    box-sizing: border-box;
}
@font-face {
    font-family: "Almarai Bold";
    src: url("./../fonts/Almarai-Bold.woff2") format("woff2"),
        url("./../fonts/Almarai-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Almarai Regular";
    src: url("./../fonts/Almarai-Regular.woff2") format("woff2"),
        url("./../fonts/Almarai-Regular.woff2") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "Almarai Regular";
    margin: 0;
    padding: 0;
    font-size: 16px;
    direction: rtl;
}
.p-5 {
    padding: 5px;
}
.p-10 {
    padding: 10px;
}
.w-100 {
    width: 100%;
}
.w-90 {
    width: 90%;
}
.w-80 {
    width: 80%;
}
.w-70 {
    width: 70%;
}
.w-60 {
    width: 60%;
}
.w-50 {
    width: 50%;
}
.w-40 {
    width: 40%;
}
.w-30 {
    width: 30%;
}
.w-25 {
    width: 25%;
}
.h-100 {
    height: 100%;
}
.h-50 {
    height: 50%;
}
.container {
    width: 1062px;
    margin: auto;
}
.d-flex {
    display: flex;
}
.d-block {
    display: block;
}
.align-center {
    align-items: center;
}
.space-between {
    justify-content: space-between;
}
.flex-wrap {
    flex-wrap: wrap;
}
.nowrap {
    white-space: nowrap;
}
.flex-column {
    flex-direction: column;
}
.flex-all {
    display: flex;
    align-items: center;
    justify-content: center;
}
.relative {
    position: relative;
}
.main-color {
    color: #752775;
}
.font-26 {
    font-size: 26px;
}
.font-22 {
    font-size: 22px;
}
.font-20 {
    font-size: 20px;
}
.font-16 {
    font-size: 16px;
}
.font-15 {
    font-size: 15px;
}
.font-14 {
    font-size: 14px;
}
.white {
    color: #fff;
}
.white-i {
    color: #fff !important;
}
.mt-10 {
    margin-top: 10px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-25 {
    margin-top: 25px;
}
.pr-30 {
    padding-right: 30px;
}
.ml-10 {
    margin-left: 10px;
}
.lang-en .ml-10 {
    margin-right: 10px;
    margin-left: 0;
}
.ml-20 {
    margin-left: 20px;
}
.lang-en .ml-20 {
    margin-right: 20px;
    margin-left: 0;
}
.mr-20 {
    margin-right: 20px;
}
.lang-en .mr-20 {
    margin-left: 20px;
    margin-right: 0;
}
.lang-en .pr-30 {
    padding-left: 30px;
    padding-right: 0;
}
.pt-10 {
    padding-top: 10px;
}
.pt-15 {
    padding-top: 15px;
}
.pt-35 {
    padding-top: 35px;
}
.pt-100 {
    padding-top: 100px;
}
.pb-100 {
    padding-bottom: 100px;
}
.pb-10 {
    padding-bottom: 10px;
}
.pb-15 {
    padding-bottom: 15px;
}
.pb-35 {
    padding-bottom: 35px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mr-10 {
    margin-right: 10px;
}
.en .mr-10 {
    margin-left: 10px;
    margin-right: 0;
}
.mr-20 {
    margin-right: 20px;
}
.en .mr-20 {
    margin-left: 20px;
    margin-right: 0;
}
.mr-30 {
    margin-right: 30px;
}
.en .mr-30 {
    margin-left: 30px;
    margin-right: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
.regular,
input {
    font-family: "Almarai Regular";
}
.light {
    font-weight: 100;
}
.bold {
    font-family: "Almarai Bold";
}
.bg-white {
    background: #fff;
}
.radius-5 {
    border-radius: 5px;
}
.radius-60 {
    border-radius: 60px;
}

.border-0 {
    border: 0;
}
.pointer {
    cursor: pointer;
}
a,
a:hover {
    text-decoration: none;
}
.underline {
    text-decoration: underline;
}
.p-side-30 {
    padding-left: 30px;
    padding-right: 30px;
}
.p-side-10 {
    padding-left: 10px;
    padding-right: 10px;
}
.trans {
    transition: 0.3s;
}
.overflow-hidden {
    overflow: hidden;
}
h1 {
    background: transparent;
    border-radius: initial;
    padding: 0;
    text-align: initial;
    margin: 0;
}
a:hover {
    color: #606;
}
.btn {
    background: #606;
    padding: 13px 35px;
    border-radius: 6px;
    color:#fff;
    transition:.3s;
    border:1px solid #606;
    cursor:pointer;
}
.btn:hover {
    color:#606;
    background:#fff;
}
.main-bg {
    background: #606;
}
.main-color {
    color:#606;
}